@model IList<TeamIntelHeader>
@{
    ViewBag.Title = "Teams";
}

<ul data-role="listview" data-filter="true" data-autodividers="true" data-inset="true">
@foreach (var t in Model)
{
    <li>
        <a href="@Url.Action("Details", new { id = t.Id })" class="ui-link-inherit">
            @t.Name <span class="ui-li-count">@t.NumStats</span>
        </a>
    </li>
}
</ul>

